<nav>
    <a class="logo" href="{% url 'seld' %}"><span>SELD</span></a>

    <li id="open-sidebar" onclick="openSidebar()" aria-label="open sidebar" aria-expanded="false" aria-controls="navlist">
        <a>
            <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#e8eaed">
                <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
            </svg>
        </a>
    </li>

    <ul class="navlist" id="navlist">

        <li>
            <a id="close-sidebar" onclick="closeSidebar()" aria-label="close sidebar">
                <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px"
                    fill="#e8eaed">
                    <path
                        d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                </svg>
            </a>
        </li>

        <li>
            <a href="{% url 'home' %}">Главная</a>
        </li>
        <li>
            <a href="{% url 'about' %}">О нас</a>
        </li>

        {% if user.is_authenticated %}

        <li>
            <a href="{% url 'devices' %}">Устройства</a>
        </li>
        <li>
            <a href="{% url 'profile' %}">Аккаунт</a>
        </li>
        <li>
            <form method="post" action="{% url 'log_out' %}">
                {% csrf_token %}
                <button type="submit">Выйти</button>
            </form>
        </li>

        {% else %}

        <li>
            <a href="{% url 'signup' %}">Регистрация</a>
        </li>
        <li>
            <a href="{% url 'log_in' %}">Вход</a>
        </li>

        {% endif %}
    </ul>
    <div id="overlay" onclick="closeSidebar()" aria-hidden="true"></div>
</nav>

<div id="overlay" onclick="closeSidebar()"></div>

<script>
    const navlist = document.getElementById('navlist');
    const nav = document.querySelector('nav');
    const openButton = document.getElementById('open-sidebar');

    window.addEventListener("scroll", function () {
        nav.classList.toggle("sticky", window.scrollY > 10);
    });

    const media = window.matchMedia("(width < 840px)")

    media.addEventListener('change', (e) => updateNavbar(e))

    function updateNavbar(e) {
        const isMobile = e.matches
        if (isMobile) {
            navlist.setAttribute('inert', '')
        }
        else {
            navlist.removeAttribute('inert')
        }
    }

    function openSidebar() {
        navlist.classList.add('show')
        openButton.setAttribute('aria-expanded', 'true')
        navlist.removeAttribute('inert')

    }

    function closeSidebar() {
        navlist.classList.remove('show')
        openButton.setAttribute('aria-expanded', 'false')
        navlist.setAttribute('inert', '')
    }

    updateNavbar(media)

</script>