{% extends "seld/layout.html" %}

{% block content %}

<div class="mt-8 px-8">
    <div class="text-center mb-2">
        <h2 class="text-2xl font-semibold mb-1">{{ title }}</h2>
        <h3 class="text-xl">Here you can add your devices</h3>
    </div>

    <hr/>

    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>

    <div class="flex flex-wrap justify-center gap-2 mt-4">
        {% for block in data %}

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const editor = document.querySelector('#device_name_{{block.id}}');
                const post_content = document.querySelector('#format_text_{{block.id}}');
        
                // когда редактируется блок, его содержимое попадает в скрытое поле
                editor.addEventListener('input', () => {
                    post_content.value = editor.innerHTML.trim();
                });
            });
        </script>

        <div class="btn_device flex flex-col justify-center text-center w-10/12 sm:w-8/12 md:w-7/12 lg:w-5/12 xl:w-3/11">
            <form class="grid grid-cols-2 mb-1">

                <input name="device_name" id="format_text_{{block.id}}" type="hidden" value="">

                <div class="col-span-1 text-center" hx-post="{% url 'change_device_name' block.id %}"
                     hx-target="#device_name_{{block.id}}">
                    Device name
                </div>

                <div class="col-span-1 text-center" contenteditable="true" id="device_name_{{block.id}}">
                    {{ block.device_name }}
                </div>

            </form>

            <div class="grid grid-cols-2 mb-1">
                <label class="col-span-1 text-center">Status</label>
                <div class="col-span-1 text-center" hx-patch="{% url 'change_status' block.id %}"
                     hx-trigger="click throttle:5000ms">
                    {{ block.status }}
                </div>
            </div>
            <div class="grid grid-cols-2 mb-1">
                <label class="col-span-1 text-center">Admin</label>
                <div class="col-span-1 text-center" hx-patch="{% url 'change_admin' block.id %}"
                     hx-trigger="click throttle:5000ms">
                    {{ block.admin }}
                </div>
            </div>
            <div class="grid grid-cols-2 mb-1">
                <label class="col-span-1 control-label text-center">Sync</label>
                <div class="col-span-1 text-center">
                    {{ block.sync }}
                </div>
            </div>
            <div class="items-center">
                <a href="{% url 'keys' block.id %}" class="h-btn w-full">Keys</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% if is_paginated %}
<nav class="list-pages">
    <ul>
        {% if page_obj.has_previous %}
        <li class="page-num">
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        </li>
        {% endif %}

        <li class="page-num">
            <a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
        </li>

        {% if page_obj.has_next %}
        <li class="page-num">
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}


