{% extends "seld/layout.html" %}

{% block safe %}

<div class="mt-8 px-8">
    <div class="text-center mb-2">
        <h2 class="text-2xl font-semibold mb-1">{{ title }}</h2>
        <h3 class="text-xl mb-2">Here you can add your new keys for devices</h3>
        <div class="grid grid-cols-1 gap-2 sm:inline-block w-auto place-items-center">
            <button type="button" class="h-btn" aria-haspopup="dialog" aria-expanded="false"
                aria-controls="hs-vertically-centered-modal" data-hs-overlay="#hs-vertically-centered-modal">
                Add new keys for device
            </button>
            <a href="{% url 'devices' %}" class="h-btn">Return to your devices</a>
        </div>
    </div>

    <hr />

    <div id="hs-vertically-centered-modal"
        class="hs-overlay hidden size-full fixed top-0 start-0 z-80 overflow-x-hidden overflow-y-auto pointer-events-none"
        role="dialog" tabindex="-1" aria-labelledby="hs-vertically-centered-modal-label">
        <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto min-h-[calc(100%-56px)] flex items-center">
            
            <div class="w-full flex flex-col bg-white border border-gray-200 shadow-2xs rounded-xl pointer-events-auto dark:bg-neutral-800 dark:border-neutral-700 dark:shadow-neutral-700/70">
                
                <div class="grid grid-cols-12 items-center py-2 px-2 border-b border-gray-200 dark:border-neutral-700">
                    <h3 id="hs-vertically-centered-modal-label" class="col-span-11 text-center font-bold text-gray-800 dark:text-white">
                        Add new key
                    </h3>

                    <div class="flex justify-center col-end">
                        <button type="button"
                            class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-400 dark:focus:bg-neutral-600"
                            aria-label="Close" data-hs-overlay="#hs-vertically-centered-modal">
                            <span class="sr-only">Close</span>
                            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M18 6 6 18"></path>
                                <path d="m6 6 12 12"></path>
                            </svg>
                        </button>
                    </div>

                </div>
                <div class="p-4 overflow-y-auto">
                    <p class="text-gray-800 dark:text-neutral-400">
                        This is a wider card with supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
                <div class="grid grid-rows-2 place-items-center gap-2 py-3 border-gray-200 dark:border-neutral-700">

                    <button type="submit"
                        class="w-1/2 justify-center text-center py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                        data-hs-overlay="#hs-vertically-centered-modal">
                        Add
                    </button>
                    <button type="button"
                        class="w-1/2 justify-center py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                        data-hs-overlay="#hs-vertically-centered-modal">
                        Close
                    </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="color: black;">
                <div class="modal-header">
                    <h5 class="modal-title text-center w-100" id="exampleModalLabel">Add new keys</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" class="form-horizontal">
                        {% csrf_token %}
                        {% for f in form %}
                        {% if f.value is not None %}
                        <div class="row row-cols-1 row-cols-lg-2 mb-2 align-items-center">
                            <label class="col-lg-3 control-label text-center mb-1">{{ f.label }}</label>
                            <div class="col-lg-9 justify-content-center d-flex">
                                {{ f }}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="d-grid gap-2 col-lg-8 col-8 mx-auto">
                            <button type="submit" class="btn btn-outline-dark">Add</button>
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex row row-cols-1 row-cols-md-1 row-cols-lg-3 justify-content-center">

        {% for block in data %}

        <div class="btn_device d-flex flex-column justify-content-center text-center col-10 col-md-7 col-lg-5 col-xl-4"
            hx-target="this">
            <div class="row row-cols-2 mb-1" hx-swap="outerHTML">
                <label class="col-lg-6 control-label text-center">Key</label>
                <div class="col-lg-6 text-center">
                    {{ block.key }}
                </div>
            </div>
            <div class="row row-cols-2 mb-1">
                <label class="col-lg-6 control-label text-center">Used</label>
                <div class="col-lg-6 text-center">
                    {{ block.used }}
                </div>
            </div>
            <div class="row row-cols-2 mb-1 align-items-center">
                <label class="col-lg-6 control-label text-center">Time end</label>
                <div class="col-lg-6 text-center">
                    {{ block.time_end }}
                </div>
            </div>
            <div style="text-align: center;">
                <button type="button" class="a-btn h-btn a-default"
                    hx-delete="{% url 'delete_key' block.device_id block.id %}">
                    Delete
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>

{% if is_paginated %}
<div class="list-pages">
    <ul>
        {% if page_obj.has_previous %}
        <li class="page-num">
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        </li>
        {% endif %}

        <li class="page-num">
            <a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
        </li>

        {% if page_obj.has_next %}
        <li class="page-num">
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}

{% endblock %}